DB_NAME=truepay_db
DB_USER=your_username
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432

# AWS S3 Settings for file uploads
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_STORAGE_BUCKET_NAME=your_s3_bucket_name
AWS_S3_REGION_NAME=ap-northeast-1

#email發送api 使用resend
RESEND_API_KEY=your-resend-api-key-here