DB_NAME=truepay_db
DB_USER=your_username
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432

# AWS S3 Settings for file uploads
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_STORAGE_BUCKET_NAME=your_s3_bucket_name
AWS_S3_REGION_NAME=ap-northeast-1



# Email SMTP 設定（本地可用 mailtrap，正式用 resend）
EMAIL_HOST=smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_HOST_USER=your_mailtrap_user
EMAIL_HOST_PASSWORD=your_mailtrap_password
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
DEFAULT_FROM_EMAIL=noreply@truepay.tw

# 若用 Resend SMTP，請改成：
# EMAIL_HOST=smtp.resend.com
# EMAIL_PORT=465
# EMAIL_HOST_USER=resend
# EMAIL_HOST_PASSWORD=your-resend-api-key-here
# EMAIL_USE_TLS=False
# EMAIL_USE_SSL=True
# DEFAULT_FROM_EMAIL=noreply@truepay.tw



# 藍新金流商店設定
NEWEBPAY_MERCHANT_ID=
NEWEBPAY_HASH_KEY=
NEWEBPAY_HASH_IV=

# 環境設定（development 或 production）
# 先嘗試測試環境，避免產生實際費用
NEWEBPAY_ENVIRONMENT=development


# Ngrok URL 設定（每個開發者使用自己的 ngrok URL）
# 注意：只填寫 domain 部分，不要包含 https://
NGROK_URL=your-unique-ngrok-id.ngrok-free.app

#LINEPAY需放token
LINEPAY_CHANNEL_ID=
LINEPAY_CHANNEL_SECRET=
LINEPAY_API_URL=https://sandbox-api-pay.line.me

#GOOGLE三方登入
GOOGLE_OAUTH2_CLIENT_ID=
GOOGLE_OAUTH2_CLIENT_SECRET=
