/* TruePay 自訂樣式 */

@layer utilities {
  .scrollbar-apple {
    &::-webkit-scrollbar {
      @apply w-[10px] h-[10px];
    }
    
    &::-webkit-scrollbar-thumb {
      background-color: theme('colors.brand.grayBorder');
      border-radius: 999px;
    }
    
    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }
}